{{ define "content" }}

<p>Maps:</p>

<table class="table-auto">
    <thead>
        <th>Links</th>
        <th>Title</th>
        <th>Mapper</th>
    </thead>
    <tbody>
    {{ range .Beatmapsets }}
        <tr>
            <td>
                <a href="https://osu.ppy.sh/s/{{ .ID }}" target="_blank">osu</a>
                <a href="/map/{{ .UserID }}/{{ .ID }}/versions">versions</a>
            </td>
            <td>{{ .Artist }} - {{ .Title }}</td>
            <td>
                <a href="https://osu.ppy.sh/u/{{ .UserID }}" target="_blank">{{ .Creator }}</a>
            </td>
        </tr>
    {{ end }}
    </tbody>
</table>

{{ end }}
