{{ define "content" }}

<h3>versions of {{ .Beatmapset.Artist }} - {{ .Beatmapset.Title }}</h3>

<p>
    <a href="https://osu.ppy.sh/s/{{ .Beatmapset.ID }}" target="_blank">Map link</a>
    &middot;
    mapped by <a href="https://osu.ppy.sh/u/{{ .Beatmapset.UserID }}" target="_blank">{{ .Beatmapset.Creator }}</a>
</p>

<small>up to the latest 20 revisions, pagination coming later</small>

<table>
    <thead>
        <th>Date</th>
        <th>Links</th>
        <th>Summary</th>
    </thead>

    <tbody>
    {{ range .Versions }}
        <tr>
            <td><span title="{{ .Date }}">{{ .HumanDate }}</span></td>
            <td>
                <a href="zip/{{ .Hash }}" target="_blank">zip</a>
                {{ if .HasParent }}
                    <a href="patch/{{ .Hash }}" target="_blank">patch</a>
                {{ end }}
            </td>
            <td><pre>{{ .Summary }}</pre></td>
        </tr>
    {{ end }}
    </tbody>
</table>

{{ end }}
