<!DOCTYPE html>
<html lang="en">
    <head>
        <title>subscribe-bot</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/main.css" />
    </head>

    <body>
        <div class="container">
            <h1 class="title">
                <a href="/">subscribe-bot</a>
            </h1>

            <small>logging in with your osu account does nothing</small>

            <div class="nav-bar">
                <a href="/">home</a>

                {{ if .LoggedIn }}
                    <a href="/logout">logout</a>
                {{ else }}
                    <a href="/login">login</a>
                {{ end }}
            </div>

            {{ template "content" . }}

            <footer>
                <hr />
                <small>
                    Maintained by <a href="https://osu.ppy.sh/u/2688103" target="_blank">IOException</a>
                    &middot;
                    <a href="https://git.mzhang.io/osu/subscribe-bot" target="_blank">Source code</a>
                    &middot;
                    subscribe-bot v{{ GitCommit }}
                </small>
            </footer>
        </div>
    </body>
</html>
